absl-py==2.4.0
accelerate==1.14.0
acoustics==0.2.6
addict==2.4.0
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.13.0
archspec==0.2.6
astc-encoder-py==0.1.12
attrs==26.1.0
audiomentations==0.43.1
audioread==3.1.0
av==17.0.1
babel==2.18.0
backoff==2.2.1
bcrypt==5.0.0
blis==1.3.3
boto3==1.42.97
botocore==1.42.97
brotli==1.2.0
build==1.4.4
cached_path==1.8.10
cairocffi==1.7.1
CairoSVG==2.9.0
catalogue==2.0.10
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
chromadb==1.5.8
click==8.3.3
cloakbrowser==0.3.31
cloakbrowsermcp==2.0.4
cloudpathlib==0.23.0
cmake==4.3.2
cn2an==0.5.22
colorama==0.4.6
comtypes==1.4.16
confection==1.3.3
contourpy==1.3.3
cryptography==47.0.0
cssselect2==0.9.0
csvw==3.7.0
ctranslate2==4.7.1
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.13
Cython==3.2.4
datasketch==1.10.0
dateparser==1.1.8
decorator==5.2.1
deep-phonemizer==0.0.19
defusedxml==0.7.1
Deprecated==1.3.1
Distance==0.1.3
distro==1.9.0
dlib==20.0.1
dlinfo==2.0.0
docopt==0.6.2
durationpy==0.10
easydict==1.13
einops==0.8.2
einops-exts==0.0.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
eng_to_ipa==0.0.2
espeakng-loader==0.2.4
etcpak==0.9.15
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.136.1
fastembed==0.8.0
faster-whisper==1.2.1
filelock==3.25.2
flatbuffers==25.12.19
fmod_toolkit==0.1.3
fonttools==4.62.1
fsspec==2026.2.0
fugashi==1.3.0
fury-sdk==0.1.13
g2p-en==2.1.0
g2pkk==0.1.2
google-api-core==2.30.3
google-auth==2.49.2
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
gradio==6.13.0
gradio_client==2.5.0
graphifyy==0.7.5
greenlet==3.5.0
groovy==0.1.2
grpcio==1.80.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
h2==4.3.0
hf-gradio==0.4.1
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
hyperframe==6.1.0
HyperPyYAML==1.2.3
idna==3.13
ImageIO==2.37.3
importlib_metadata==8.7.1
importlib_resources==7.1.0
inflect==7.0.0
iniconfig==2.3.0
insightface==0.7.3
invoke==3.0.3
isodate==0.7.2
jaconv==0.5.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.1.0
joblib==1.5.3
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
kokoro==0.9.4
kubernetes==35.0.0
langchain-chroma==1.1.0
langchain-core==1.3.2
langchain-ollama==1.1.0
langchain-protocol==0.0.12
langid==1.1.6
langsmith==0.7.37
language-tags==1.2.0
lazy-loader==0.5
librosa==0.9.1
lightning-utilities==0.15.3
llvmlite==0.47.0
loguru==0.7.2
lz4==4.4.5
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mcp==1.27.1
mdurl==0.1.2
mecab-python3==1.0.9
mediapipe==0.10.9
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a
mem0ai==2.0.1
misaki==0.9.4
ml_dtypes==0.5.4
mmh3==5.2.1
monotonic_align @ git+https://github.com/resemble-ai/monotonic_align.git@c6e5e6cb19882164027eb6e35118e841eed9298e
mpmath==1.3.0
munch==4.0.0
murmurhash==1.0.15
networkx==3.6.1
nltk==3.9.4
num2words==0.5.12
numba==0.65.1
numpy==2.4.4
numpy-minmax==0.5.0
numpy-rms==0.6.0
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.21.1.3
nvidia-cufft-cu12==11.4.1.4
nvidia-curand-cu12==10.3.10.19
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-nvjitlink-cu12==12.9.86
oauthlib==3.3.1
ollama==0.6.1
onnx==1.21.0
onnx-tf==1.10.0
onnxruntime==1.25.1
onnxruntime-gpu==1.25.1
openai==2.33.0
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opentelemetry-api==1.41.1
opentelemetry-exporter-otlp-proto-common==1.41.1
opentelemetry-exporter-otlp-proto-grpc==1.41.1
opentelemetry-proto==1.41.1
opentelemetry-sdk==1.41.1
opentelemetry-semantic-conventions==0.62b1
openwakeword==0.6.0
orjson==3.11.8
overrides==7.7.0
packaging==26.2
pandas==3.0.2
paramiko==5.0.0
pathvalidate==3.3.1
phonemizer==3.3.0
phonemizer-fork==3.3.2
pillow==12.2.0
piper-tts==1.4.2
plac==1.4.5
platformdirs==4.9.6
playwright==1.60.0
pluggy==1.6.0
plyer==2.1.0
pooch==1.9.0
portalocker==3.2.0
posthog==7.13.1
preshed==3.0.13
prettytable==3.17.0
proces==0.1.7
proto-plus==1.27.2
protobuf==3.20.3
psutil==7.2.2
py_rust_stemmers==0.1.8
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybase64==1.4.3
pycaw==20251023
pycparser==3.0
pydantic==2.13.3
pydantic-settings==2.14.0
pydantic_core==2.46.3
pydub==0.25.1
pyee==13.0.1
pyfmodex==0.7.2
pygame==2.6.1
Pygments==2.20.0
PyJWT==2.12.1
pykakasi==2.2.1
PyNaCl==1.6.2
pyparsing==3.3.2
pyperclip==1.11.0
PyPika==0.51.1
pypinyin==0.50.0
pypiwin32==223
pyproject_hooks==1.2.0
pytest==9.1.0
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.27
python-stretch==0.3.1
pyttsx3==2.99
pytz==2026.1.post1
pywin32==311
pywinauto==0.6.9
PyYAML==6.0.3
qdrant-client==1.17.1
RapidFuzz==3.14.5
rdflib==7.6.0
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.30.0
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
s3transfer==0.16.1
safehttpx==0.1.7
safetensors==0.8.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
segments==2.4.0
semantic-version==2.10.0
sentencepiece==0.2.1
shellingham==1.5.4
silero-vad==6.2.1
simsimd==6.5.16
six==1.17.0
smart_open==7.6.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soxr==0.5.0.post1
spacy==3.8.14
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.1.0
SQLAlchemy==2.0.49
srsly==2.5.3
sse-starlette==3.4.3
starlette==1.0.0
stringzilla==4.6.0
sympy==1.14.0
tabulate==0.10.0
tenacity==9.1.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-addons==0.22.0
termcolor==3.3.0
texture2ddecoder==1.0.6
thinc==8.3.13
threadpoolctl==3.6.0
tifffile==2026.3.3
tinycss2==1.5.1
tokenizers==0.13.3
tomlkit==0.14.0
torch==2.11.0+cu128
torchaudio==2.11.0+cu128
torchinfo==1.8.0
torchmetrics==1.9.0
tqdm==4.67.3
transformers==4.31.0
tree-sitter==0.25.2
tree-sitter-c==0.24.2
tree-sitter-c-sharp==0.23.5
tree-sitter-cpp==0.23.4
tree-sitter-elixir==0.3.5
tree-sitter-fortran==0.6.0
tree-sitter-go==0.25.0
tree-sitter-java==0.23.5
tree-sitter-javascript==0.25.0
tree-sitter-julia==0.23.1
tree-sitter-kotlin==1.1.0
tree-sitter-lua==0.5.0
tree-sitter-objc==3.0.2
tree-sitter-php==0.24.1
tree-sitter-powershell==0.26.4
tree-sitter-python==0.25.0
tree-sitter-ruby==0.23.1
tree-sitter-rust==0.24.2
tree-sitter-scala==0.26.0
tree-sitter-swift==0.7.2
tree-sitter-typescript==0.23.2
tree-sitter-verilog==1.0.3
tree-sitter-zig==1.1.2
txtsplit==1.0.0
typeguard==2.13.3
typer==0.25.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
uiautomation==2.0.29
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
UnityPy==1.25.0
uritemplate==4.2.0
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.46.0
voicemeeter-api==2.7.2
wasabi==0.10.1
watchfiles==1.1.1
wcwidth==0.6.0
weasel==1.0.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
win32_setctime==1.2.0
wrapt==2.1.2
xxhash==3.7.0
zipp==3.23.1
zstandard==0.25.0
